.currency-select {
  border-radius: 0;
  -webkit-appearance: none;
}

.input-wrapper {
  position: relative;
  margin-bottom: -4px;
  font-weight: normal;
}

.input-wrapper > input {
  padding-left: 20px;
}

.input-wrapper > input::-webkit-inner-spin-button,
.input-wrapper > input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.icon-inside-input {
  top: 2px;
  right: 10px;
  position: absolute;
  z-index: 100;
}